.input {
    :global(.MuiOutlinedInput-root) {
        background-color: white;
        :focus {
            outline: none;
            border: none;
        }
        :hover {
            outline: none;
            border: none;
        }
    }
    width: 65%;
}
